
#section_1 {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: black;
    overflow-x: hidden;
    padding-top: 20px;
}

#section_1 a, p {
    padding: 10px;
    color: grey;
    display: block;
    size: 11px;
}

#section_1 a:hover {
    color:whitesmoke;
    transform: scale(1.1);
}

#section_2 {
    margin-left: 160px;
    object-fit: fill;
}
#section_3 {
    margin-left: 160px;
    clear: right;
    text-align: justify;
    font-size: medium;
    width: 100%;
}