
#section_1 {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color:#2677e0;
    overflow-x: hidden;
    padding-top: 20px;
    color:#313632 ;
}

#section_1 a {
    padding: 10px;
    color: #4fb069;
    display: block;
    size: 11px;
    text-decoration: none;
}

#section_1 a:visited {
    color: grey;
    text-decoration: none;
}

#section_1 a:hover {
    color:whitesmoke;
    transform: scale(1.1);
}

#section_2 {
    margin-left: 160px;
}
p {
    margin-left: 160px;
    clear: right;
    text-align: justify;
    font-size: medium;
    width: 92%;
    color: grey;
}